.codebox {
  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


  &__box {
    width: 166px;
    height: 166px;
    background-color: $color-dusty-blue;
    border: 14px solid $color-deep-sapphire;
    display: flex;
    justify-content: center;
    align-items: center;


    @include vp-767 {
      width: 75px;
      height: 75px;
      border-width: 7px;
    }


    &--secret {
      background-color: $color-baby-blue;
      border-color: $color-ink-blue;
    }
  }

  &__code {
    white-space: pre-wrap;
    user-select: none;
    margin: 0;
    font-family: "Days One";
    font-size: 100px;
    color: $color-black;

    @include vp-767 {
      font-size: 55px;
    }
  }


  &__icon-question-mark {
    @include vp-767 {
      width: 19px;
      height: 30px;
    }
  }


  &__icon-lock {
    @include vp-767 {
      width: 28px;
      height: 34px;
    }
  }
}