.footer {
  height: 50px;
  background-color: $color-ink-blue;
  position: relative;


  &__cat-smiling-img {
    position: absolute;
    z-index: 1;
    user-select: none;
    right: 11%;
    top: -140%;
    transform: translateY(-50%);
  }
}