.footer {
  height: 50px;
  background-color: $color-ink-blue;
  position: relative;

  @include vp-767 {
    height: 38px;
  }


  &__cat-smiling-img {
    position: absolute;
    z-index: 1;
    user-select: none;
    right: 11%;
    top: -140%;
    transform: translateY(-50%);


    @include vp-767 {
      display: none;
    }
  }
}