.game {
  margin: 0 0 20px 0;

  &__field {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 1350px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    background-image: url("../images/game-1-bg.png");
    background-size: cover;
    background-position: center;
    border: 14px solid $color-ink-blue;
    border-radius: 43px;

    @include vp-767 {
      width: 95%;
      aspect-ratio: 320 / 611;
      background-image: url("../images/game-1-bg-mobile.png");
      border-width: 8px;
    }
  }

  &__fish {
    position: absolute;
    padding: 0;
    margin: 0;
    height: fit-content;
    transition: filter 0.15s ease;
    transform: translateX(-50%);
    transform: translateY(-50%);

    &:hover {
      filter:
        drop-shadow(4px 0 0 $color-white) drop-shadow(-4px 0 0 $color-white) drop-shadow(0 4px 0 $color-white) drop-shadow(0 -4px 0 $color-white);
    }

    &--correct {
      filter:
        drop-shadow(4px 0 0 $color-neon-green) drop-shadow(-4px 0 0 $color-neon-green) drop-shadow(0 4px 0 $color-neon-green) drop-shadow(0 -4px 0 $color-neon-green);
    }

    &--wrong {
      filter:
        drop-shadow(4px 0 0 $color-coral-red) drop-shadow(-4px 0 0 $color-coral-red) drop-shadow(0 4px 0 $color-coral-red) drop-shadow(0 -4px 0 $color-coral-red);
    }

    &--1 {
      top: 15%;
      left: 10%;

      @include vp-767 {
        width: 25%;
        top: 10%;
        left: 10%;
      }
    }

    &--2 {
      top: 14%;
      right: 25%;

      @include vp-767 {
        width: 20%;
        top: 10%;
        right: 20%;
      }
    }

    &--3 {
      bottom: 0%;
      left: 35%;

      @include vp-767 {
        width: 28%;
        bottom: -5%;
        left: 23%;
      }
    }

    &--4 {
      top: 19%;
      left: 35%;

      @include vp-767 {
        width: 30%;
        top: 24%;
        left: 30%;
      }
    }

    &--5 {
      bottom: 10%;
      right: 14%;

      @include vp-767 {
        width: 22%;
        top: 30%;
        right: 10%;
      }
    }

    &--6 {
      top: 45%;
      left: 13%;

      @include vp-767 {
        width: 32%;
        top: 38%;
        left: 13%;
      }
    }

    &--7 {
      top: 31%;
      right: 7%;

      @include vp-767 {
        width: 21%;
        top: 72%;
        right: 43%;
      }
    }

    &--8 {
      bottom: 15%;
      left: 14%;

      @include vp-767 {
        width: 23%;
        bottom: 15%;
        left: 6%;
      }
    }

    &--9 {
      right: 15%;
      bottom: 0%;

      @include vp-767 {
        width: 42%;
        right: 5%;
        bottom: 5%;
      }
    }

    &--10 {
      top: 50%;
      left: 40%;

      @include vp-767 {
        width: 55%;
        top: 55%;
        left: 25%;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}