.houses {
  .house {
    &__floor {
      background-color: var(--floor-background);
      border: 2px solid var(--floor-border);

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__answer {
      position: relative;
      flex-shrink: 0;
      display: block;
    }

    &__answer-number,
    &__answer-window {
      position: absolute;
      inset: 0;
    }

    &__floor-number,
    &__answer-number {
      display: block;

      background-color: var(--floor-number);

      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
    }

    &__plus {
      display: block;
      flex-shrink: 0;
    }

    &__answer-number {
      position: relative;
    }

    &__answer-window {
      position: absolute;
      z-index: 2;
      background-color: $color-white;
    }

    &__roof {
      position: relative;

      background-color: var(--roof-border);

      clip-path: polygon(50% 0,
          100% 100%,
          0 100%);

      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";

        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;

        background-color: var(--roof-background);

        clip-path: polygon(50% 0,
            100% 100%,
            0 100%);
      }
    }

    &__roof-number {
      position: relative;
      z-index: 1;

      display: block;

      background-color: var(--roof-number);

      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
    }

    &__answer-window {
      position: absolute;
      border-radius: 28px;
      background-color: #FFFFFF;
      z-index: 2;
    }

    &--2 {
      .house__floor {
        width: 439px;
        height: 252px;
      }

      .house__floor-number {
        height: 134px;
      }

      .house__plus {
        width: 92px;
        height: 92px;
      }

      .house__roof {
        width: 582px;
        height: 189px;
      }

      .house__roof-number {
        height: 111px;
      }

      .house__answer-window {
        width: 127px;
        height: 155px;
      }

      .house__answer-number {
        height: 134px;
      }
    }

    &--3 {
      .house__floor {
        width: 344px;
        height: 188px;
      }

      .house__floor-number {
        height: 111px;
      }

      .house__plus {
        width: 67px;
        height: 67px;
      }

      .house__roof {
        width: 481px;
        height: 156px;
      }

      .house__roof-number {
        height: 97px;
      }

      .house__answer-window {
        width: 103px;
        height: 126px;
      }

      .house__answer-number {
        height: 111px;
      }
    }

    &--4 {
      .house__floor {
        width: 330px;
        height: 149px;
      }

      .house__floor-number {
        height: 89px;
      }

      .house__plus {
        width: 55px;
        height: 55px;
      }

      .house__roof {
        width: 402px;
        height: 153px;
      }

      .house__roof-number {
        height: 87px;
      }

      .house__answer-window {
        width: 91px;
        height: 111px;
      }

      .house__answer-number {
        height: 89px;
      }
    }

    &--5 {
      .house__floor {
        width: 281px;
        height: 123px;
      }

      .house__floor-number {
        height: 75px;
      }

      .house__plus {
        width: 55px;
        height: 55px;
      }

      .house__roof {
        width: 338px;
        height: 153px;
      }

      .house__roof-number {
        height: 81px;
      }

      .house__answer-window {
        width: 82px;
        height: 100px;
      }

      .house__answer-number {
        height: 75px;
      }
    }
  }
}