.main-page {

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: relative;
  }


  &__pawprint-img,
  &__sun-img {
    position: absolute;
    z-index: 1;
    user-select: none;
  }


  &__pawprint-img {
    bottom: 12%;
    left: 0%;

    @include vp-767 {
      display: none;
    }
  }


  &__sun-img {
    top: 0%;
    right: 0%;

    @include vp-767 {
      display: none;
    }
  }


  &__game-link {
    display: block;
    width: 90%;
    max-width: 1070px;
    aspect-ratio: 1070/600;
    border: 14px solid $color-ink-blue;
    border-radius: 43px;
    background-image: url("../images/preshow-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include vp-767 {
      width: 95%;
      aspect-ratio: 300/500;
      border-width: 8px;
      background-image: url("../images/preshow-mobile-1.png");
    }

    &:hover,
    &:focus-visible {
      border-color: $color-baby-blue;
      outline: none;
    }
  }
}